body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: rgba(252, 252, 252, 0.726);
}

nav {
    background-color: white;
    height: 56px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-start {
    display: flex;
    justify-content: center;
    white-space: nowrap ;
}

#nav-middle {
    display: flex;
    justify-content: center;
    white-space: nowrap ;
    max-width: 600px;
    min-width: 250px;
}

#nav-end {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

#hamburger-icon {
    height: 30px;
    width: 20px;
    padding: 0 10px;
    color: gray;
    flex-shrink: 0;
}

#youtube-logo {
    width: 80px;
    margin-right: 100px;
    margin-left: 10px;
    flex-shrink: 0;
}

input[type=text] {
    height: 26px;
    width: 550px;
    padding: 2px 10px;
    margin: 0;
    border: 1px solid rgb(192, 192, 192);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 16px;
}

#search-button {
    height: 32px;
    width:  60px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    flex-shrink: 0;
}

#profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.picture-link {
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

#create-vid-icon,
#grid-icon,
#bell-icon,
#three-dots {
    color: gray;
    height: 30px;
    width: 20px;
    margin: 0 15px;
    flex-shrink: 0;
}

#primary {
    width: 65%;
    min-width: 360px;
    padding: 0 2.5%;
}

/* VIDEO WRAPPER IS AN INTRINSIC RATIO TECHNIQUE */
#videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

#videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h3 {
    margin: 0;
    font-weight: 400;
}

#video-title {
    margin: 15px 0 8px 0;
}

#hashtags {
    color: royalblue;
    font-size: 12px;
}

#info {
    color: rgb(94, 94, 94);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#dot {
    margin: 0 5px;
}

.stat {
    display: flex;
    align-items: center;
    padding: 8px;
}

hr {
    margin: 0;
    color: rgba(255, 255, 255, 0.206);
}

.icon {
    padding-right: 8px;
}

#info-left {
    font-weight: 550;
}

#info-right {
    font-weight: 600;
    flex-shrink: 0.5;
    text-transform: uppercase;

}

#like-count,
#dislike-count {
    border-bottom: 2px solid gray
}

#creator-container {
    display: flex;
    align-items: center;
    margin: 12px 0;
    flex-grow: 2;
    color: rgb(94, 94, 94);
}

#picture-container {
    display: flex;
    width: 60px;
}

#subscribe-button {
    display: flex;
    flex-grow: 2;
    justify-content: end;
}

#creator-info > div a {
    color: black;
    text-decoration: none;
}

#creator-info {
    font-size: 14px;
}

#creator-pic {
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

#subscribe-button button {
    height: 35px;
    width: 105px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #cc0000;
}

#video-description {
    margin-left: 60px;
    font-size: 14px;
}

#comments-header {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#sort-comments {
    display: flex;
    align-items: center;
    color: rgb(109, 109, 109);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-left: 30px;
}

#comment-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#comment-input {
    border-width: 0 0 1px 0;
    padding: 0 0;
    margin-left: 20px;
    width: 100%;
    outline: none
}

#input-buttons {
    display: flex;
    justify-content: flex-end;
}

#submit-comment-button {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: rgb(197, 197, 197);
}

#cancel-comment-button {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: rgb(97, 96, 96);
    background-color: white;
}

.comment-container {
    display: flex;
    margin: 25px 0;
}

.interactivity {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(97, 96, 96);

}

.user {
    display: inline-block;
    padding: 0 16px;

}

#random {
    display: inline-block;
}

.comment-author {
    font-size: 13px;
    font-weight: 700;
}

.comment-date {
    font-size: 13px;
    color: gray;
}

.authors-comment {
    font-size: 14px;
    margin: 5px 0 10px 0;
}

.comment-likes,
.comment-dislikes {
    margin-right: 10px;
}

#secondary {
    width: 30%;
    padding: 0 10px;    
    float: right;
}

#aside-header {
    display: flex;
    justify-content: space-between;
}

.recommended-vid-container {
    display: flex;
    align-items: center;
    width: 330px;
    padding: 10px 0;
}

.thumbnail {
    height: 90px;
    width: 150px;
}

.recommended-description {
    font-size: 13px;
}

.recommended-description p {
    white-space: nowrap;
    margin: 0;
}