body {
    margin: 0;
    width: 100%;
}

nav {
    height: 56px;
    padding: 0 10px;
}

#hamburger-icon-box {
    display: inline-block;
}

#hamburger-icon {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

#youtube-logo-box {
    display: inline-block;
    width: 90px;
}

#youtube-logo {
    display: inline-block;
    vertical-align: middle;
}


#search-bar {
    display: inline-block;
    margin: 0 auto;
}